h3 {
    color: rgba(31, 55, 175, 0.87);
}

.spacing {
    margin-bottom: 50px;
}
@media (min-width: 700px) and (orientation: landscape) {
    .spacing {
        max-width: 520px;
        margin-top: 150px;
        margin-bottom: 1px;
    }

    .btn-primary {
        width: 500px !important;
    }
    .btn-secondary {
        width: 500px !important;
    }
}

@media (max-width: 876px) {
    .spacing {
        margin-top: 45%;
    }

    .btn-primary {
        width: 125px !important;
    }
    .btn-secondary {
        width: 125px !important;
    }
}